@media (min-width: 1024px){
    
  .days{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    
    }

    .submit{
      width: 75%;
      display: flex;
      justify-content: end;
  }

.formulaire {width: 50%;}
#troisiemeTrait{
  width: 50%;
}
}