:root {
    --primary: #d30fc3;

    --secondary: #fafafa;
    --tertiary: white;


    --box-shadow: 3px 3px 10px #000000d5;
    --box-shadow-avis: 3px 3px 9px #0000003b;
}

* {
    list-style: none;
    box-sizing: border-box;


}

@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.google.com/specimen/Montserrat?query=Montserrat");
}


/* MAIN */
body {
    background-color: var(--secondary);
}

main {
    margin: 0 10% 0 10%;
}

.titre2 {
    color: var(--primary);
font-weight: 700;
    padding: 6%;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
}
h3, h4 {font-weight: bold;}


.img {
    max-width: 90%;
    border-radius: 10px;
}



.days {
    display: flex;
    flex-direction: column;
  gap: 50px;

}

.day {
    border-radius: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    box-shadow:  3px 3px 9px #0000003b;
    background-color: white;
    

}

.day section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 90%;
}

.day p {
    max-width: 90%;
    text-align: justify;

}
#troisiemeTrait {
    height: 2px;
    width: 15em;
    margin: 5em auto 0 auto;
    background-color: #4b4b4b;
}

/* FOOTER */
footer {   display: flex;
    flex-direction: column;
}

.socialmedia {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    width: 20em;
}

.blacklogo {max-width: 50%;
margin: 0 auto;}

.imgsocial {
    height: 30px;
}

footer p {
    display: flex;
    justify-content: center;
    padding: 2px;
}
footer h2{
    color: var(--pink);
    text-align: center;
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: 700;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 30px 0;
}
footer section{
    display: flex;
    justify-content: center;
}

.formulaire {
    width: 80%;
	border-radius: 10px;
	box-shadow: var(--box-shadow-avis);
	border-color: #ffffff;
	padding: 10px;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	margin: .5em 0;
    background-color: white;
}

.button {
    
    border-radius: 10px;
	padding: 10px 20px;
	font-weight: bold;
	background-color: var(--primary) ;
	color: white;
	transition: .3s ease-in-out;
}
.submit{
    width: 90%;
    display: flex;
    justify-content: end;
}

button:hover {
    transform: scale(1.07);
}

button:active {
    background-color: var(--primary);
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	color: white;
	transform: translateY(0);
}

.copyright {background-color: var(--primary);
    display: flex;
    flex-direction: column;
color: white;
padding: 10px 0 10px 0}

footer a {
    text-decoration: none;
    color: white;
}

