@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    margin: 0;
}

h1,
h2 {
    font-family: 'montserrat';
}

p,
button,
footer {
    font-family: 'Source Sans 3';
}

.filtres {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5% 2%;
    gap: 1rem;
}

@media screen and (min-width: 992px) {
    .filtres {
        display: flex;
        justify-content: center;
        padding: 0;
        gap: 2rem;
        margin: 2% 0 0 0;
    }
}

button {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: 1rem;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

button:focus {
    background-color: #F7146B;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: white;
}

button:hover {
    transform: translateY(-1px);
    background-color: #F7146B;
    color: white;
}

button:active {
    background-color: #F7146B;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: white;
    transform: translateY(0);
}

.adress {
    margin: 0 0 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width: 992px) {
    .adress {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
}

aside {
    display: block;
    width: 300px;
    height: 150px;
    margin: 8%;
}

@media screen and (min-width: 992px) {
    aside {
        width: 200px;
        margin: 5% 5% 0 5%;
    }
}

.image {
    width: 100%;
    height: 100%;
}

.image:hover img {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

aside img {
    border-radius: 1rem;
    width: 15rem;
    height: 9rem;
    margin: 5% auto 10% auto;
}

@media screen and (min-width: 992px) {
    .image {
        margin: 10% auto;
    }
}

.image {
    filter: drop-shadow(8px 8px 3px #aaaaaa73);
}

h2 {
    text-align: center;
    font-weight: bolder;
}

/* FOOTER */
footer {
    background-color: var(--tertiary);
    margin: 15% 0 0 0;
    display: flex;
    flex-direction: column;
}

.socialmedia {
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center
}

.socialmedia a {
    display: flex;
    justify-content: center;
}

.blacklogo {
    max-width: 50%;
    margin: 0 auto;
}

.imgsocial {
    max-width: 30%;
}

footer p {
    display: flex;
    justify-content: center;
    padding: 2px;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 30px 0;
}

.formulaire {
    border-radius: 10px;
    border-color: #e2e2e2;
    padding: 10px;
}

.button {
    margin-left: 60%;
    border-radius: 10px;
    border-color: #e2e2e2;
    padding: 10px;
    background-color: var(--primary);
    color: var(--tertiary);
    font-weight: bold;
}

.copyright {
    background-color: var(--primary);
    color: var(--tertiary);
    padding: 10px 0 10px 0
}

footer a {
    text-decoration: none;
    color: black
}