@media screen and (min-width: 480px) {
  .days {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

  }

  .socialmedia {
    display: flex;
    justify-content: center;
    margin: 5% 25% 5% 25%;
    text-align: center;
  }

  form {
    margin: 5% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .formulaire {
    width: 100%;
  }

  .nom {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .prenom {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .email {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .objet {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .message {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .submit {
    grid-column-start: 2;
    grid-column-end: 3;
  }

}