@media screen and (min-width: 480px) {
  .days {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

  }
  .formulaire {
    width: 65%;
  }

  footer section{
    display: flex;
    justify-content: center;
}
.submit{
    width: 83%;
    display: flex;
    justify-content: end;
}

#troisiemeTrait{
  width: 65%;
}
}
